body{
	font-family: Arial;
}

#header{
	color: black;
	font-size: 30px;
	padding-bottom: 20px;
	margin-top: 100px;
}

#smaller-header{
	color: red;
	padding-bottom: 20px;
}

#texto{
	font-size: 20px;
}

td{
	color: green;
}