<!DOCTYPE html>
<html>
<head>
<title>IPM</title>
<!--<link rel="stylesheet" href="style.css">-->

<style type="text/css">

</style>

<script type="text/javascript">
  function toggleVisible(id) {    
  }

</script>

<!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body style="font-family:calibri; text-align: center;" >

<h1 style="color: green">Interfaces Pessoa M&aacute;quina 2015-16</h1>
<h2>Grupo 12 - Turno IIPM51113L04</h2>

 <section id="team" class="bg-light-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="section-heading">Our Amazing Team</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="images/filipe.png" class="img-thumbnail" alt="" width="256" height="256">
                                <h4>Filipe Fernandes</h4>
                                <ul class="list-inline social-buttons">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="images/gabriel.png" class="img-thumbnail" alt="" width="256" height="256">
                                <h4>Gabriel Freire</h4>
                                <ul class="list-inline social-buttons">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="team-member">
                                <img src="images/vultos.png" class="img-thumbnail" alt="" width="197" height="197">
                                <h4>João Vultos</h4>
                                <ul class="list-inline social-buttons">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<table align=center>
  <tr>
    <td width="33%">João Plancha da Silva</td>
    <td width="33%">Guilherme Menezes</td> 
    <td width="33%">Gabriel Freire</td>
    </tr>
    <tr>
    <td>51355</td>
    <td>76494</td> 
    <td>78081</td>
  </tr>
  <tr>
    <td><img id="rgb" src = "ist151355.png" width="98"></td>
    <td><img id="cmy" src = "ist176494.png" width="100"></td> 
    <td><img id="hsv" src = "ist178081.png" width="90"></td>
  </tr>
</table>

<div id="links" style="text-align: left; padding-left: 100px;">
<p>

<div id="at" class="section">
<h2 class="section">An&aacute;lise de Tarefas</h2>
<div id="at_inner" class="inner_section">
<a href="questionario1.html">Question&aacute;rio para an&aacute;lise de tarefas</a> <br />
<a href="questionario2.html">Question&aacute;rio para an&aacute;lise de tarefas (melhorado)</a> <br />
<a href="at1.html">An&aacute;lise de tarefas + Funcionalidades</a> <br />
<a href="at2.html">An&aacute;lise de tarefas + Funcionalidades (melhorados)</a> <br />
</div>
</div>

<div id="mc" class="section">
<h2 class="section">Modelo Conceptual</h2>
<div id="mc_inner" class="inner_section">
<a href="mod-conceptual1.html">Modelo Conceptual</a> <br />
<a href="mod-conceptual2.html">Modelo Conceptual (melhorado)</a> <br />
</div>
</div>

<div id="proto" class="section">
<h2 class="section">Prot&oacute;tipos</h2>
<div id="proto_inner" class="inner_section">
<a href="pbf1.html">PBF</a> <br />
<a href="pbf2.html">PBF (melhorado)</a> <br />
<a href="protFuncional1-beta.html">Primeiro prot&oacute;tipo funcional</a> <br />
<a href="protFuncional1-completo.html">Primeiro prot&oacute;tipo funcional completo</a> <br />
<a href="protFuncional2-beta.html">Segundo prot&oacute;tipo funcional</a> <br />
<a href="protFuncional2-completo.html">Segundo prot&oacute;tipo funcional completo</a><br />
<a href="protFinal-beta.html">Prot&oacute;tipo Final</a> <br />
<a href="protFinal-completo.html">Prot&oacute;tipo Final completo</a><br />
</div>
</div>

<div id="au" class="section">
<h2 class="section">Avalia&ccedil;&atilde;o com Utilizadores</h2>
<div id="au_inner" class="inner_section">
<a href="tarefas-criterios1.html">Tarefas e Crit&eacute;rios de usabilidade</a> <br />
<a href="tarefas-criterios2.html">Tarefas e Crit&eacute;rios de usabilidade (melhorado)</a> <br />
<a href="relatorioTestes1.html">Relat&oacute;rio da avalia&ccedil;&atilde;o com utilizadores</a> <br />
<a href="relatorioTestes2.html">Relat&oacute;rio da avalia&ccedil;&atilde;o com utilizadores (melhorado)</a> <br />
<a href="manual.html">Manual do Utilizador</a> <br />
</p>
</div>
</div>

</div>
<script>

</script>


</body>
</html>
